body{
    font-family: "Monteserrat-black";
}


#title{
    background-color: rgb(206, 68, 68); 
    color: #fff;
}

h1{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}

h2{
    font-family:"Monteserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Monteserrat-Black";
}

p{
    color: gray;
}


/*Navigation bar*/

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/*Buttons*/
.Download-Button{
    margin:5% 3% 5% 0;
}

/*Title Image*/

.title-image{
    width:60%;
    transform: rotate(25deg);
    position: absolute;
    right:30%;
}

/*Features*/

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    font-size: 4.5rem;
    color: rgb(206, 68, 68);
}

.icon:hover{
    color: rgb(211, 113, 113);
}

/* Testimonial*/

#testimonials{
    
    text-align: center;
    background-color: rgb(206, 68, 68);
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin:20px;
}
.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: rgb(206, 68, 68);
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/*Pricing*/

#pricing{
    padding: 100px;
    text-align: center;
}
 
.pricing-coloumn{
    padding: 3% 2%;

}

@media (max-width: 1028px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: rgb(206, 68, 68);
    text-align: center;
    font-family: "Monteserrat-black";
    color: #DDD;
    padding: 7% 15%;
}

.h3{
    font-size: 3rem;
    line-height: 1.5;
}

#footer{
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
}

.social-link{
    margin: 20px 10px;
}